.Login{
    font-family: 'Archivo Black', sans-serif;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    text-align: left;
}
h2{
    font-family: 'Archivo Black', sans-serif
}
.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}
i {
    position: absolute;
    top: 38%;
    right: 16%;
}
i:hover {
    color: #f7022a;
    cursor: pointer;
}