/* html, body {
  min-height: 100vh;
} */

.App {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
 grid-template-columns: 1fr;
 grid-template-rows: 5rem 1fr 5rem;
 height: 100%;
}
header{
  grid-area: header;
  border-width: 1.3pt;
  /* border-radius: 10px; */
}

main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer; 
  border-width: 1.3pt;
  /* border-radius: 5px; */
  /* position: absolute; bottom: 0; */
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: 'Archivo Black', sans-serif
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
  font-family: 'Archivo Black', sans-serif
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: #ffdef2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form input {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
}

.card {
  width: 500px;
   /* height: 480px;  */
  overflow: auto;
  border: 1.5px solid rgb(228, 228, 228);
  border-radius: 2px;
  margin: 10px;
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.product{
  border: 1.5px solid rgb(228, 228, 228);
  margin: 1rem;
}
.product-info{
  padding: 1rem;
}

.imageDiv {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info-proImg{
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  
}
.img-large{
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.cart_card {
  width: 500px;
  /* height: 210px; */
  overflow: auto;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.row {
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center {
  align-items: center;
}

* {box-sizing: border-box}


/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

#discountwrapper {
  display: flex;
}
/* SearchBar */ 

.searchbar input { 
	display: flex; 
	background-color: white; 
	margin-top: 20px; 
	height: 40px; 
	font-size: 20px; 
  border-style: solid;
  border-color: #ffdef2;
} 


.input { 
  display: flex; 
}

.search input { 
  background-color: white; 
}

.output { 
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  overflow: auto; 
  overflow-y: auto; 
  position: absolute;
  z-index: 10;
  width: 50%;
  border-style: solid;
  border-color: #ffdef2;
}

.output .product { 
  display: flex; 
  align-items: center; 
  color: black; 
  border-style: solid;
  border-color: #ffdef2;
  height: auto;
  width: auto;
}

.output a:hover { 
  background-color: #ffdef2; 
}

/* Navbar container */
/* .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
} */

/* Links inside the navbar */
/* .navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

.navbar-brand{
  font-weight: bold;
}


/* The dropdown container */
/* .dropdown {
  float: left;
  overflow: hidden;
} 

/* Dropdown button */
 /* .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
 } */


 
/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
} */

 /*Dropdown content (hidden by default)
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/* .dropdown-content a {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #ffedf8;
}

/* Show the dropdown menu on hover */
/* /* .dropdown:hover .dropdown-content {
  display: block;
} */  

table {
  border-collapse: collapse;
  height: 200px;
  overflow-y: scroll;
  display: block;
  width: fit-content;
}

td, th {
  text-align: left;
  border: 1px solid red;
  padding: .5em;
}

.tableButton {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
}

.productButton {
  text-decoration: none;
  border: none;
  background-color: white;
  width: 100%;
  margin-top: auto;
}

.productButton:hover {
  color: #e292c2;
}
