.App {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
 grid-template-columns: 1fr;
 grid-template-rows: 5rem 1fr 5rem;
 height: 100%;
}
header{
  grid-area: header;
  background-color: #ffdef2;
  border: red;
  border-style:solid;
  border-width: 1.3pt;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #ffdef2;
  color: red;
  border: red;
  border-style:solid; 
  border-width: 1.3pt;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: 'Archivo Black', sans-serif
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
  font-family: 'Archivo Black', sans-serif
}
a{
  text-decoration: none;
}
a:hover{
  color:red;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.card {
  width: 500px;
  /* height: 210px; */
  resize: vertical;
  overflow: auto;
  border: 1.5px solid rgb(228, 228, 228);
  border-radius: 2px;
  margin: 10px;
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
}

.cart_card {
  width: 500px;
  /* height: 210px; */
  resize: vertical;
  overflow: auto;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center {
  align-items: center;
}

* {box-sizing: border-box}

/*header*/
header a{
  color: red;
  padding: 1rem;
}
a.brand{
  color: red;
  font-size: 3rem;
  font-weight: bold;
}
.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.row.center{
    justify-content: center;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

#discountwrapper {
  display: flex;
}
/* SearchBar */ 

.input { 
  display: flex; 
}

.search input { 
  background-color: white; 
}

.output { 
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  overflow: hidden; 
  overflow-y: auto; 
}

.output .product { 
  display: flex; 
  align-items: center; 
  color: black; 
}

.output a:hover { 
  background-color: lightgrey; 
}